.section-title {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-fill: #2c3e50;
    -fx-background-color: linear-gradient(to right, #74ebd5, #ACB6E5);
    -fx-padding: 6px;
    -fx-alignment: center;
    -fx-background-radius: 6px;
    -fx-text-alignment: center;
}

.table-view {
    -fx-border-color: #bdc3c7;
    -fx-border-radius: 4px;
    -fx-background-color: #fdfdfd;
}

.table-cell{
    -fx-alignment: CENTER;
}

.table-view .placeholder,
.list-view .placeholder {
    -fx-text-fill: #7f8c8d;
    -fx-font-style: italic;
    -fx-font-size: 12px;
}

.footer-label {
    -fx-text-fill: #7f8c8d;
    -fx-font-size: 12px;
    -fx-font-style: italic;
}

.button {
    -fx-background-color: linear-gradient(#74ebd5, #ACB6E5);
    -fx-text-fill: #2c3e50;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
    -fx-padding: 6px 14px;
    -fx-cursor: hand;
}
.button:hover {
    -fx-background-color: linear-gradient(#ACB6E5, #74ebd5);
}