.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #b0bec5;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-prompt-text-fill: #888;
    -fx-padding: 6px;
}
.button {
    -fx-background-color: linear-gradient(#74ebd5, #ACB6E5);
    -fx-text-fill: #2c3e50;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
    -fx-padding: 6px 14px;
    -fx-cursor: hand;
}
.button:hover {
    -fx-background-color: linear-gradient(#ACB6E5, #74ebd5);
}


.custom-progress-bar {
    -fx-accent: linear-gradient(to right, #4facfe, #00f2fe); /* כחול בהיר */
    -fx-background-color: #ecf0f1;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
}

.custom-progress-bar .bar {
    -fx-background-color: linear-gradient(#ACB6E5, #74ebd5);
    -fx-background-radius: 8px;
}


.dynamic-label {
    -fx-text-fill: #2c3e50;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-font-style: italic;
}