.section-title {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-alignment: center;
}


.table-cell{
    -fx-alignment: CENTER;
}

.table-row-cell.highlighted {
    -fx-background-color: yellow;
}


.table-row-cell.highlighted .table-cell {
    -fx-text-fill: black;
}


.table-row-cell.highlighted:selected {
    -fx-background-color: yellow;
}

.table-row-cell.highlighted:selected .table-cell {
    -fx-text-fill: black;
}

.table-row-cell.active-row {
    -fx-background-color: lightgreen;
}

.table-row-cell.active-row .table-cell {
    -fx-text-fill: black;
}

.table-row-cell.active-row:selected {
    -fx-background-color: green;
    -fx-text-fill: white;
}